.skillTrees {
    display: grid;
    grid-template-areas:
            "skillTree skillTree skillTree skillTree";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 900px;
    height: 400px;
    border: rgba(28, 28, 28, 0.75) solid 3px;
    background: url('http://localhost:3000/assets/skill-trees-bg.png') no-repeat;
}

.skillTree {
    display: grid;
}
