@font-face {
  font-family: 'Radiance';
  src: url('http://localhost:3000/fonts/radiance.otf');
}

@font-face {
  font-family: 'Feast of Flesh Regular';
  src: url('http://localhost:3000/fonts/feast-of-flesh-bb.regular.otf');
}

@font-face {
  font-family: 'Feast of Flesh Italic';
  src: url('http://localhost:3000/fonts/feast-of-flesh-bb.italic.otf');
}

.screen-wrapper {
  margin: auto;
  display: inline-block;
}

.hero-attribute {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-attribute__text {
  margin-left: 2px;

  justify-content: center;

  color: white;
  font-family: 'Feast of Flesh Italic', sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
}

.hero-portrait {
  /*margin: 8px 8px 8px 0;*/
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 0;
  margin-bottom: 8px;
  position: relative;
  display: inline-block;

  max-width: 200px;
  min-width: 150px;
  max-height: 150px;
  min-height: 80px;

  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.hero-portrait__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-portrait__text {
  position: absolute;
  bottom: 0;

  width: 100%;

  font-family: 'Feast of Flesh Regular', sans-serif;
  font-size: 24px;
  text-align: center;
  color: white;

  transform: translateY(+5px);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.hero-portrait:hover {
  z-index: 2;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3), 1px 6px 20px 1px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  background: linear-gradient(
      rgba(0, 0, 0, 0.5) 40%,
      rgba(0, 0, 0, 0.75) 70%,
      rgb(0, 0, 0, 0.9) 100%
    ),
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 70%, rgb(0, 0, 0, 0.8) 100%),
    linear-gradient(to left, rgba(0, 0, 0, 0.1) 70%, rgb(0, 0, 0, 0.8) 100%);
}

.hero-portrait:hover > a > .hero-portrait__text {
  text-shadow: 2px 2px 2px black;
  visibility: visible;
  pointer-events: none;
  transform: translateY(-15px);
}
