@font-face {
  font-family: 'Feast of Flesh Italic';
  src: url('http://localhost:3000/fonts/feast-of-flesh-bb.italic.otf');
}

@font-face {
  font-family: 'Radiance';
  src: url('http://localhost:3000/fonts/radiance.otf');
}

.underBarSection {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  height: 135px;

  color: #eaeaea;
  font-size: 12px;
  font-family: SansSerif, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px #000;
}

.prev-next-hero-block {
  /*border: red solid 3px;*/
  position: relative;

  padding: 18px 10px 0 50px;
  display: flex;
  width: 390px;

  background-image: url('http://localhost:3000/grey_painterly_wide.png');
  box-shadow: 2px 2px 1px #000;
  transition: filter 0.2s ease-in-out;
}

.previous-hero-block {
  flex-direction: row-reverse;
}

.prev-next-hero-block > .portraitImg {
  position: absolute;
  bottom: 0;

  height: 150px;

  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

.previous-hero-block > .portraitImg {
  left: 0;
}

.next-hero-block > .portraitImg {
  right: 0;
}

.prev-next-hero-block > .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  width: 200px;

  text-align: left;

  z-index: 2;
}

.prev-next-hero-block > .description > .heroName {
  display: flex;

  color: white;
  font-family: 'Feast of Flesh Italic', sans-serif;
  font-size: 24px;
  letter-spacing: 0;
  text-align: left;
}

.prev-next-hero-block > .description > .heroInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.prev-next-hero-block > .description > .heroInfo > .heroAttributesImg {
  justify-content: center;
  width: 25px;
  height: 25px;
}

.prev-next-hero-block > .description > .heroInfo > .attackType {
  justify-content: center;
  margin-left: 3px;
}

.prev-next-hero-block:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.prev-next-hero-block:hover > .portraitImg {
  transform: scale(1.2) translateY(-12px);
}
