@import 'css/skills-screen/skillTrees.css';
@import 'css/skills-screen/skill.css';
@import 'css/skills-screen/videoDemonstration.css';
@import 'css/main-screen/main-screen.css';
@import 'css/skills-screen/skillDescription.css';
@import 'css/skills-screen/under-bar-section/underBarSection.css';
@import 'css/skills-screen/under-bar-section/toAllHeroesContainer.css';


body {
  padding: 2% 5%;

  background-image: url('http://localhost:3000/greyfade.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

  justify-content: center;

  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
